<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Vertical">
    <LayoutPanel Orientation="Horizontal">
      <LayoutAnchorablePane Id="44585d00-ddb5-40b3-9f30-8d18777ee0d4" DockWidth="377.2" FloatingWidth="391.6" FloatingHeight="479.6" FloatingLeft="296" FloatingTop="336">
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Color Picker" IsSelected="True" IsLastFocusedDocument="True" ContentId="ColorPickerTool" FloatingLeft="296" FloatingTop="336" FloatingWidth="391.6" FloatingHeight="479.6" CanClose="False" LastActivationTimeStamp="06/07/2019 12:44:28" />
      </LayoutAnchorablePane>
      <LayoutPanel Orientation="Vertical">
        <LayoutPanel Orientation="Horizontal">
          <LayoutPanel Orientation="Vertical">
            <LayoutPanel Orientation="Horizontal">
              <LayoutPanel Orientation="Vertical">
                <LayoutDocumentPaneGroup Orientation="Horizontal">
                  <LayoutDocumentPane Id="3437de13-8bc1-4869-a729-76076edfa223">
                    <LayoutDocument Title="Noname*" IsSelected="True" IsLastFocusedDocument="True" LastActivationTimeStamp="06/07/2019 12:44:24" />
                  </LayoutDocumentPane>
                </LayoutDocumentPaneGroup>
              </LayoutPanel>
            </LayoutPanel>
          </LayoutPanel>
        </LayoutPanel>
      </LayoutPanel>
      <LayoutAnchorablePane Id="357085c4-1808-4fca-900c-646d35651cc6" DockWidth="192" DockHeight="150" FloatingWidth="669.2" FloatingHeight="160" FloatingLeft="995.6" FloatingTop="332.4" />
      <LayoutAnchorablePane Id="29890a12-c32b-4a15-ac91-18df8bac688e" DockWidth="417.8" DockHeight="150" FloatingWidth="669.2" FloatingHeight="160" FloatingLeft="820" FloatingTop="334.4" />
    </LayoutPanel>
    <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="417.8" DockHeight="150" FloatingWidth="669.2" FloatingHeight="160" FloatingLeft="450.8" FloatingTop="565.6">
      <LayoutAnchorablePane DockHeight="150" FloatingWidth="669.2" FloatingHeight="160" FloatingLeft="450.8" FloatingTop="565.6">
        <LayoutAnchorable AutoHideWidth="173.6" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="File Stats" IsSelected="True" ContentId="FileStatsTool" FloatingLeft="450.8" FloatingTop="565.6" FloatingWidth="669.2" FloatingHeight="160" CanClose="False" LastActivationTimeStamp="06/07/2019 12:44:24" />
      </LayoutAnchorablePane>
    </LayoutAnchorablePaneGroup>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden>
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 3" IsSelected="True" ContentId="Tool3_Tool" FloatingLeft="685.2" FloatingTop="339.6" FloatingWidth="669.2" FloatingHeight="160" CanClose="False" LastActivationTimeStamp="06/07/2019 12:44:19" PreviousContainerId="357085c4-1808-4fca-900c-646d35651cc6" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 2" IsSelected="True" ContentId="Tool2_Tool" FloatingLeft="321.2" FloatingTop="343.6" FloatingWidth="391.6" FloatingHeight="479.6" CanClose="False" LastActivationTimeStamp="06/07/2019 12:44:19" PreviousContainerId="357085c4-1808-4fca-900c-646d35651cc6" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 1" IsSelected="True" ContentId="Tool1_Tool" FloatingLeft="749.2" FloatingTop="347.6" FloatingWidth="669.2" FloatingHeight="160" CanClose="False" LastActivationTimeStamp="06/07/2019 12:44:19" PreviousContainerId="29890a12-c32b-4a15-ac91-18df8bac688e" PreviousContainerIndex="0" />
  </Hidden>
</LayoutRoot>