<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Horizontal">
    <LayoutPanel Orientation="Vertical">
      <LayoutPanel Orientation="Horizontal">
        <LayoutPanel Orientation="Vertical">
          <LayoutPanel Orientation="Horizontal">
            <LayoutPanel Orientation="Vertical">
              <LayoutPanel Orientation="Horizontal">
                <LayoutPanel Orientation="Vertical">
                  <LayoutPanel Orientation="Horizontal">
                    <LayoutPanel Orientation="Vertical">
                      <LayoutDocumentPaneGroup Orientation="Horizontal">
                        <LayoutDocumentPane Id="3437de13-8bc1-4869-a729-76076edfa223" />
                      </LayoutDocumentPaneGroup>
                    </LayoutPanel>
                  </LayoutPanel>
                </LayoutPanel>
              </LayoutPanel>
            </LayoutPanel>
            <LayoutAnchorablePane Id="357085c4-1808-4fca-900c-646d35651cc6" DockWidth="192" DockHeight="150" FloatingWidth="669.2" FloatingHeight="160" FloatingLeft="995.6" FloatingTop="332.4" />
          </LayoutPanel>
          <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="417.8" DockHeight="150" FloatingWidth="669.2" FloatingHeight="160" FloatingLeft="450.8" FloatingTop="565.6">
            <LayoutAnchorablePane Id="2569ff02-a09f-422b-9343-8ad6e8299539" DockHeight="150" FloatingWidth="669.2" FloatingHeight="160" FloatingLeft="450.8" FloatingTop="565.6" />
          </LayoutAnchorablePaneGroup>
        </LayoutPanel>
      </LayoutPanel>
      <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="256" DockHeight="150" FloatingWidth="258" FloatingHeight="226.8" FloatingLeft="496" FloatingTop="561.6">
        <LayoutAnchorablePane Id="7acf68f7-5ebf-407c-a068-31d2ea01501c" DockHeight="150" FloatingWidth="258" FloatingHeight="226.8" FloatingLeft="496" FloatingTop="561.6" />
      </LayoutAnchorablePaneGroup>
    </LayoutPanel>
    <LayoutAnchorablePane Id="ae02e01c-2a4b-43a2-b5ac-7418283eb04d" DockWidth="344" FloatingWidth="346" FloatingHeight="240.4" FloatingLeft="933.2" FloatingTop="341.6" />
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows>
    <LayoutAnchorableFloatingWindow>
      <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="344" FloatingWidth="501.6" FloatingHeight="509.6" FloatingLeft="752" FloatingTop="138">
        <LayoutAnchorablePane FloatingWidth="501.6" FloatingHeight="509.6" FloatingLeft="752" FloatingTop="138">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Color Picker" IsSelected="True" ContentId="ColorPickerTool" FloatingLeft="752" FloatingTop="138" FloatingWidth="501.6" FloatingHeight="509.6" CanClose="False" LastActivationTimeStamp="06/07/2019 15:51:49" PreviousContainerId="ae02e01c-2a4b-43a2-b5ac-7418283eb04d" PreviousContainerIndex="0" />
        </LayoutAnchorablePane>
        <LayoutAnchorablePane FloatingWidth="501.6" FloatingHeight="509.6" FloatingLeft="752" FloatingTop="138">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 2" IsSelected="True" IsLastFocusedDocument="True" ContentId="Tool2_Tool" FloatingLeft="752" FloatingTop="138" FloatingWidth="501.6" FloatingHeight="509.6" CanClose="False" LastActivationTimeStamp="06/07/2019 15:52:19" PreviousContainerId="3437de13-8bc1-4869-a729-76076edfa223" PreviousContainerIndex="0" />
        </LayoutAnchorablePane>
      </LayoutAnchorablePaneGroup>
    </LayoutAnchorableFloatingWindow>
  </FloatingWindows>
  <Hidden>
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 3" IsSelected="True" ContentId="Tool3_Tool" FloatingLeft="685.2" FloatingTop="339.6" FloatingWidth="669.2" FloatingHeight="160" CanClose="False" LastActivationTimeStamp="06/07/2019 15:56:20" PreviousContainerId="357085c4-1808-4fca-900c-646d35651cc6" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideWidth="173.6" AutoHideMinWidth="100" AutoHideMinHeight="100" Title="File Stats" IsSelected="True" ContentId="FileStatsTool" FloatingLeft="450.8" FloatingTop="565.6" FloatingWidth="669.2" FloatingHeight="160" CanClose="False" LastActivationTimeStamp="06/07/2019 15:56:20" PreviousContainerId="2569ff02-a09f-422b-9343-8ad6e8299539" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 1" IsSelected="True" ContentId="Tool1_Tool" FloatingLeft="496" FloatingTop="561.6" FloatingWidth="258" FloatingHeight="226.8" CanClose="False" LastActivationTimeStamp="06/07/2019 15:56:20" PreviousContainerId="7acf68f7-5ebf-407c-a068-31d2ea01501c" PreviousContainerIndex="0" />
  </Hidden>
</LayoutRoot>