<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Vertical">
    <LayoutDocumentPaneGroup Orientation="Horizontal">
      <LayoutDocumentPane>
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="File Stats" IsSelected="True" ContentId="FileStatsTool" FloatingLeft="782.8" FloatingTop="515.2" FloatingWidth="227.6" FloatingHeight="160" LastActivationTimeStamp="06/07/2019 16:22:54" />
      </LayoutDocumentPane>
      <LayoutDocumentPane>
        <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Color Picker" IsSelected="True" IsLastFocusedDocument="True" ContentId="ColorPickerTool" FloatingLeft="831.2" FloatingTop="506.8" FloatingWidth="227.6" FloatingHeight="160" CanClose="False" LastActivationTimeStamp="06/07/2019 16:22:54" />
      </LayoutDocumentPane>
    </LayoutDocumentPaneGroup>
    <LayoutAnchorablePane Id="320e75d7-ad26-4763-b1ef-7e96a55f4283" Name="ToolsPane" DockHeight="150" />
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows>
    <LayoutAnchorableFloatingWindow>
      <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="150" FloatingWidth="227.6" FloatingHeight="160" FloatingLeft="51.2" FloatingTop="363.2">
        <LayoutAnchorablePane Id="92901c36-bec8-49b3-94aa-2ec13eb3e013" DockHeight="150" FloatingWidth="227.6" FloatingHeight="160" FloatingLeft="51.2" FloatingTop="363.2" />
      </LayoutAnchorablePaneGroup>
    </LayoutAnchorableFloatingWindow>
  </FloatingWindows>
  <Hidden>
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Tool 1" ContentId="Tool1_Tool" FloatingLeft="51.2" FloatingTop="363.2" FloatingWidth="227.6" FloatingHeight="160" CanClose="False" PreviousContainerId="92901c36-bec8-49b3-94aa-2ec13eb3e013" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Tool 2" ContentId="Tool2_Tool" FloatingLeft="51.2" FloatingTop="363.2" FloatingWidth="227.6" FloatingHeight="160" CanClose="False" PreviousContainerId="92901c36-bec8-49b3-94aa-2ec13eb3e013" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Tool 3" ContentId="Tool3_Tool" FloatingLeft="51.2" FloatingTop="363.2" FloatingWidth="227.6" FloatingHeight="160" CanClose="False" PreviousContainerId="92901c36-bec8-49b3-94aa-2ec13eb3e013" PreviousContainerIndex="0" />
  </Hidden>
</LayoutRoot>