<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Vertical">
    <LayoutDocumentPane />
    <LayoutAnchorablePane Id="c8078623-08c2-47ca-b570-7e4ecd85a146" Name="ToolsPane" DockHeight="150">
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="File Stats" IsSelected="True" ContentId="FileStatsTool" CanClose="False" LastActivationTimeStamp="05/08/2019 20:13:38" />
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Color Picker" ContentId="ColorPickerTool" CanClose="False" />
    </LayoutAnchorablePane>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows>
    <LayoutAnchorableFloatingWindow>
      <LayoutAnchorablePaneGroup Orientation="Horizontal" FloatingWidth="515.6" FloatingHeight="389.2" FloatingLeft="909.2" FloatingTop="205.6">
        <LayoutAnchorablePane DockHeight="150" FloatingWidth="515.6" FloatingHeight="389.2" FloatingLeft="909.2" FloatingTop="205.6">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 3" IsSelected="True" ContentId="Tool3_Tool" FloatingLeft="909.2" FloatingTop="205.6" FloatingWidth="515.6" FloatingHeight="389.2" CanClose="False" LastActivationTimeStamp="05/08/2019 20:12:38" PreviousContainerId="c8078623-08c2-47ca-b570-7e4ecd85a146" PreviousContainerIndex="4" />
        </LayoutAnchorablePane>
        <LayoutAnchorablePane DockHeight="150" FloatingWidth="515.6" FloatingHeight="389.2" FloatingLeft="909.2" FloatingTop="205.6">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 2" IsSelected="True" ContentId="Tool2_Tool" FloatingLeft="909.2" FloatingTop="205.6" FloatingWidth="515.6" FloatingHeight="389.2" CanClose="False" LastActivationTimeStamp="05/08/2019 20:06:01" PreviousContainerId="c8078623-08c2-47ca-b570-7e4ecd85a146" PreviousContainerIndex="3" />
        </LayoutAnchorablePane>
        <LayoutAnchorablePane DockHeight="150" FloatingWidth="515.6" FloatingHeight="389.2" FloatingLeft="909.2" FloatingTop="205.6">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 1" IsSelected="True" ContentId="Tool1_Tool" FloatingLeft="909.2" FloatingTop="205.6" FloatingWidth="515.6" FloatingHeight="389.2" CanClose="False" LastActivationTimeStamp="05/08/2019 20:12:20" PreviousContainerId="c8078623-08c2-47ca-b570-7e4ecd85a146" PreviousContainerIndex="2" />
        </LayoutAnchorablePane>
      </LayoutAnchorablePaneGroup>
    </LayoutAnchorableFloatingWindow>
  </FloatingWindows>
  <Hidden />
</LayoutRoot>