<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Vertical">
    <LayoutDocumentPane />
    <LayoutAnchorablePane Id="1dc6b3df-f7e7-413d-b06a-6579d3ce2c1a" Name="ToolsPane" DockHeight="150">
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="File Stats" IsSelected="True" ContentId="FileStatsTool" CanClose="False" LastActivationTimeStamp="05/08/2019 20:18:15" />
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Color Picker" ContentId="ColorPickerTool" CanClose="False" />
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 1" ContentId="Tool1_Tool" CanClose="False" />
    </LayoutAnchorablePane>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows>
    <LayoutAnchorableFloatingWindow>
      <LayoutAnchorablePaneGroup Orientation="Horizontal" FloatingWidth="512.8" FloatingHeight="433.6" FloatingLeft="894.4" FloatingTop="187.6">
        <LayoutAnchorablePane DockHeight="150" FloatingWidth="512.8" FloatingHeight="433.6" FloatingLeft="894.4" FloatingTop="187.6">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 2" IsSelected="True" ContentId="Tool2_Tool" FloatingLeft="894.4" FloatingTop="187.6" FloatingWidth="512.8" FloatingHeight="433.6" CanClose="False" LastActivationTimeStamp="05/08/2019 20:17:31" PreviousContainerId="1dc6b3df-f7e7-413d-b06a-6579d3ce2c1a" PreviousContainerIndex="0" />
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 3" ContentId="Tool3_Tool" FloatingLeft="894.4" FloatingTop="187.6" FloatingWidth="512.8" FloatingHeight="433.6" CanClose="False" LastActivationTimeStamp="05/08/2019 20:17:06" PreviousContainerId="1dc6b3df-f7e7-413d-b06a-6579d3ce2c1a" PreviousContainerIndex="4" />
        </LayoutAnchorablePane>
      </LayoutAnchorablePaneGroup>
    </LayoutAnchorableFloatingWindow>
  </FloatingWindows>
  <Hidden />
</LayoutRoot>