<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Vertical">
    <LayoutDocumentPane />
    <LayoutAnchorablePane Id="1cc2daaf-8b04-4bf6-96d6-f986b9434455" Name="ToolsPane" DockHeight="150">
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="File Stats" IsSelected="True" ContentId="FileStatsTool" CanClose="False" LastActivationTimeStamp="05/08/2019 20:24:47" />
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Color Picker" ContentId="ColorPickerTool" CanClose="False" />
    </LayoutAnchorablePane>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows>
    <LayoutAnchorableFloatingWindow>
      <LayoutAnchorablePaneGroup Orientation="Horizontal" FloatingWidth="568.8" FloatingHeight="417.6" FloatingLeft="866.4" FloatingTop="183.6">
        <LayoutAnchorablePane DockHeight="150" FloatingWidth="568.8" FloatingHeight="417.6" FloatingLeft="866.4" FloatingTop="183.6">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 3" IsSelected="True" ContentId="Tool3_Tool" FloatingLeft="866.4" FloatingTop="183.6" FloatingWidth="568.8" FloatingHeight="417.6" CanClose="False" LastActivationTimeStamp="05/08/2019 20:24:23" PreviousContainerId="1cc2daaf-8b04-4bf6-96d6-f986b9434455" PreviousContainerIndex="4" />
        </LayoutAnchorablePane>
        <LayoutAnchorablePaneGroup Orientation="Vertical" DockHeight="150" FloatingWidth="568.8" FloatingHeight="417.6" FloatingLeft="866.4" FloatingTop="183.6">
          <LayoutAnchorablePane FloatingWidth="568.8" FloatingHeight="417.6" FloatingLeft="866.4" FloatingTop="183.6">
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 2" IsSelected="True" ContentId="Tool2_Tool" FloatingLeft="866.4" FloatingTop="183.6" FloatingWidth="568.8" FloatingHeight="417.6" CanClose="False" LastActivationTimeStamp="05/08/2019 20:23:57" PreviousContainerId="1cc2daaf-8b04-4bf6-96d6-f986b9434455" PreviousContainerIndex="3" />
          </LayoutAnchorablePane>
          <LayoutAnchorablePaneGroup Orientation="Horizontal" FloatingWidth="568.8" FloatingHeight="417.6" FloatingLeft="866.4" FloatingTop="183.6">
            <LayoutAnchorablePane DockHeight="150" FloatingWidth="568.8" FloatingHeight="417.6" FloatingLeft="866.4" FloatingTop="183.6">
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 1" IsSelected="True" ContentId="Tool1_Tool" FloatingLeft="866.4" FloatingTop="183.6" FloatingWidth="568.8" FloatingHeight="417.6" CanClose="False" LastActivationTimeStamp="05/08/2019 20:24:07" PreviousContainerId="1cc2daaf-8b04-4bf6-96d6-f986b9434455" PreviousContainerIndex="2" />
            </LayoutAnchorablePane>
          </LayoutAnchorablePaneGroup>
        </LayoutAnchorablePaneGroup>
      </LayoutAnchorablePaneGroup>
    </LayoutAnchorableFloatingWindow>
  </FloatingWindows>
  <Hidden />
</LayoutRoot>