<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Vertical">
    <LayoutDocumentPane />
    <LayoutAnchorablePane Id="12fa4dfa-d7cb-4596-b7a5-f5716c09d651" Name="ToolsPane" DockHeight="150">
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="File Stats" IsSelected="True" ContentId="FileStatsTool" CanClose="False" LastActivationTimeStamp="05/08/2019 20:32:12" />
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Color Picker" ContentId="ColorPickerTool" CanClose="False" />
    </LayoutAnchorablePane>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows>
    <LayoutAnchorableFloatingWindow>
      <LayoutAnchorablePaneGroup Orientation="Vertical" FloatingWidth="578.4" FloatingHeight="400" FloatingLeft="877.6" FloatingTop="206.8">
        <LayoutAnchorablePane FloatingWidth="578.4" FloatingHeight="400" FloatingLeft="877.6" FloatingTop="206.8">
          <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 3" IsSelected="True" ContentId="Tool3_Tool" FloatingLeft="877.6" FloatingTop="206.8" FloatingWidth="578.4" FloatingHeight="400" CanClose="False" LastActivationTimeStamp="05/08/2019 20:31:25" PreviousContainerId="12fa4dfa-d7cb-4596-b7a5-f5716c09d651" PreviousContainerIndex="4" />
        </LayoutAnchorablePane>
        <LayoutAnchorablePaneGroup Orientation="Horizontal">
          <LayoutAnchorablePane FloatingWidth="800" FloatingHeight="160" FloatingLeft="1156.8" FloatingTop="478.8">
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 2" IsSelected="True" ContentId="Tool2_Tool" FloatingLeft="1156.8" FloatingTop="478.8" FloatingWidth="800" FloatingHeight="160" CanClose="False" LastActivationTimeStamp="05/08/2019 20:31:06" PreviousContainerId="12fa4dfa-d7cb-4596-b7a5-f5716c09d651" PreviousContainerIndex="3" />
          </LayoutAnchorablePane>
          <LayoutAnchorablePaneGroup Orientation="Horizontal" FloatingWidth="800" FloatingHeight="160" FloatingLeft="1225.2" FloatingTop="504.4">
            <LayoutAnchorablePane DockHeight="150" FloatingWidth="800" FloatingHeight="160" FloatingLeft="1225.2" FloatingTop="504.4">
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 1" IsSelected="True" ContentId="Tool1_Tool" FloatingLeft="1225.2" FloatingTop="504.4" FloatingWidth="800" FloatingHeight="160" CanClose="False" LastActivationTimeStamp="05/08/2019 20:31:14" PreviousContainerId="12fa4dfa-d7cb-4596-b7a5-f5716c09d651" PreviousContainerIndex="2" />
            </LayoutAnchorablePane>
          </LayoutAnchorablePaneGroup>
        </LayoutAnchorablePaneGroup>
      </LayoutAnchorablePaneGroup>
    </LayoutAnchorableFloatingWindow>
  </FloatingWindows>
  <Hidden />
</LayoutRoot>