<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Vertical">
    <LayoutDocumentPane />
    <LayoutAnchorablePane Id="93f247c4-17ed-436a-942a-6967c3e20bec" Name="ToolsPane" DockHeight="150">
      <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Color Picker" IsSelected="True" ContentId="ColorPickerTool" CanClose="False" LastActivationTimeStamp="05/08/2019 22:37:45" />
    </LayoutAnchorablePane>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows>
    <LayoutAnchorableFloatingWindow>
      <LayoutAnchorablePaneGroup Orientation="Horizontal" FloatingWidth="440.4" FloatingHeight="282.8" FloatingLeft="704.4" FloatingTop="204.8">
        <LayoutAnchorablePaneGroup Orientation="Vertical" DockHeight="150">
          <LayoutAnchorablePane FloatingWidth="440.4" FloatingHeight="282.8" FloatingLeft="704.4" FloatingTop="204.8">
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 3" IsSelected="True" ContentId="Tool3_Tool" FloatingLeft="704.4" FloatingTop="204.8" FloatingWidth="440.4" FloatingHeight="282.8" CanClose="False" LastActivationTimeStamp="05/08/2019 22:37:07" PreviousContainerId="93f247c4-17ed-436a-942a-6967c3e20bec" PreviousContainerIndex="4" />
          </LayoutAnchorablePane>
          <LayoutAnchorablePaneGroup Orientation="Horizontal" FloatingWidth="440.4" FloatingHeight="160" FloatingLeft="796.8" FloatingTop="418.8">
            <LayoutAnchorablePane DockHeight="150" FloatingWidth="440.4" FloatingHeight="160" FloatingLeft="796.8" FloatingTop="418.8">
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="File Stats" IsSelected="True" ContentId="FileStatsTool" FloatingLeft="796.8" FloatingTop="418.8" FloatingWidth="440.4" FloatingHeight="160" CanClose="False" LastActivationTimeStamp="05/08/2019 22:37:54" PreviousContainerId="93f247c4-17ed-436a-942a-6967c3e20bec" PreviousContainerIndex="0" />
            </LayoutAnchorablePane>
          </LayoutAnchorablePaneGroup>
        </LayoutAnchorablePaneGroup>
        <LayoutAnchorablePaneGroup Orientation="Vertical" DockHeight="150">
          <LayoutAnchorablePane FloatingWidth="440.4" FloatingHeight="160" FloatingLeft="980" FloatingTop="350">
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 2" IsSelected="True" ContentId="Tool2_Tool" FloatingLeft="980" FloatingTop="350" FloatingWidth="440.4" FloatingHeight="160" CanClose="False" LastActivationTimeStamp="05/08/2019 22:37:32" PreviousContainerId="93f247c4-17ed-436a-942a-6967c3e20bec" PreviousContainerIndex="3" />
          </LayoutAnchorablePane>
          <LayoutAnchorablePaneGroup Orientation="Horizontal" FloatingWidth="440.4" FloatingHeight="160" FloatingLeft="1026" FloatingTop="408.8">
            <LayoutAnchorablePane DockHeight="150" FloatingWidth="440.4" FloatingHeight="160" FloatingLeft="1026" FloatingTop="408.8">
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" CanDockAsTabbedDocument="False" Title="Tool 1" IsSelected="True" ContentId="Tool1_Tool" FloatingLeft="1026" FloatingTop="408.8" FloatingWidth="440.4" FloatingHeight="160" CanClose="False" LastActivationTimeStamp="05/08/2019 22:37:40" PreviousContainerId="93f247c4-17ed-436a-942a-6967c3e20bec" PreviousContainerIndex="2" />
            </LayoutAnchorablePane>
          </LayoutAnchorablePaneGroup>
        </LayoutAnchorablePaneGroup>
      </LayoutAnchorablePaneGroup>
    </LayoutAnchorableFloatingWindow>
  </FloatingWindows>
  <Hidden />
</LayoutRoot>